/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: black;
  color: #ffffff;
  font-family: 'Input Sans', sans-serif;
}

.navbar_container {
  display: flex;
  width: 100%;
  height: 8rem;
  margin-right: 0px;
  margin-left: auto;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: rgba(22, 23, 27, 0.8);
  background-image: url("/static/navbar_container.jpg");
  background-position: 0px 0px;
  background-size: 100%;
  box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}
.navbar_component {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  /* bottom: auto; */
  /* width: 100%; */
  min-height: 4.5rem;
  margin-top: 0px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  align-items: center;
}
.navbar_container_start {
  height: 100%;
  margin-right: auto;
  justify-content: left;
  /*float: left;*/
}

.navbar_container_end {
  height: 100%;
  margin-left: auto;
  justify-content: right;
}

.navbar_logo {
  height: 100%;
}
.navbar_widelogo {
  height: 50%;
}

.button-catalog {
  height: 50%;
}


.navbar_menu-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.button {
  padding: 0.75rem 1.5rem 0.6rem;
  border-radius: 0.25rem;
  background-color: #DF4226;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'Input Sans', sans-serif;
  color: #16171b;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.04em;
}
.shop-wide-logo{
 background-image: url("/static/shop-wide-logo.png");   
}
